# =========================
# Python bytecode
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
venv/
.env/
myenv/
.venv/
.env 

# =========================
# Environment variables / secrets
# =========================
.env
.env.*
*.env

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Python build files
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Logs
# =========================
*.log

# =========================
# Testing / coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Temporary files
# =========================
*.tmp
*.swp